<div class="block">

<form onsubmit={{action "createPost"}}>
  <label for="to">To: </label>
  {{input id="to" type="text" id="to" value=to}}
  <br />
  <label for="from">From: </label>
  {{input id="from" type="text" id="from" value=from}}
  <br />
  <label for="subject">Subject: </label>
  {{input id="subject" type="text" id="subject" value=subject}}
  <br />
  <label for="message">Message</label>
  <br />
  {{textarea id="message" rows="8" cols="80" value=message}}
  <br />

  <button type="submit" data-test="send" >Send</button>
</form>

</div>
