<div class="block">
<img height="50px" onclick={{action "deletePost" model}}
    src="https://3c7lr1o1y191u7cr4ke6ntk3-wpengine.netdna-ssl.com/wp-content/uploads/2015/07/TrashCan.gif"
    alt="trashcan"
    data-test="delete-img"/>

<span data-test="subject">
  <h2>{{model.subject}}
  </h2>
</span>
<br />

<span data-test="from">
FROM: {{model.from}}
</span>
<br />

<span data-test="to">
TO: {{model.to}}
</span>
<br /> <br />

<span data-test="message">
{{model.message}}
</span>

</div>

{{outlet}}
